<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <span th:replace="~{index :: bootstrap}"></span>
    <meta charset="UTF-8">
    <title>Liste des articles de votre panier</title>
</head>
<body class="container">
<h1 class="h1">Votre panier</h1>
<div th:if="${!items.isEmpty()}">
    <ul th:each="i : ${items}">
        <li><span th:text="${i.quantity}"/> <span th:text="${i.furniture.getName()}"/>
            <form th:action="@{/deleteCartItem}" method="post">
                <input th:value="${i.quantity}" name="quantity" hidden>
                <input th:value="${i.id}" name="id" hidden>
                <button class="btn btn-warning">Supprimer du panier</button>
            </form>
        </li>
    </ul>

    <a th:href="@{/clearCart}">
        <button class="btn btn-danger">Vider le panier</button>
    </a>

</div>


<div th:if="${items.isEmpty()}">
    <p>Votre panier est vide.</p>
</div>
<a th:href="@{/}">
    <button class="btn btn-secondary">Retour à l'accueil</button>
</a>
<a th:href="@{/furnitureList}">
    <button class="btn btn-secondary">Liste des meubles</button>
</a>
</body>
</html>